/*#root {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeMZxTAcqTpT_BOGi7ujgFav3w46vWM4FFZw&s');
  max-width: 1280px;
 margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/





